*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    background-color: aliceblue;
    color: rgb(0, 0, 60);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container {
    display: grid;
    grid-template-rows: .5fr .25fr 4fr;
    justify-items: center;
    max-height: 100vh;
}

#title {
    align-self: center;
    justify-self: center;
    font-size:xx-large;
    text-shadow: 1px 1px .5px black;
}

#playerContainer {
    display: flex;
    justify-content: space-between;
    width: min(92vw, 600px);
}

#gameContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    aspect-ratio: 1 / 1;
    width: min(92vw, 600px);
    height: min(92vw, 600px);
}

.cell {
    display: grid;
    place-items: center;
    font-size: clamp(56px, 12vw, 160px);
    cursor: pointer;
    user-select: none;
}

.cell:hover {
    background-color: aquamarine;
}

#cell1, #cell2, #cell4, #cell5, #cell7, #cell8 {
    border-right: 1px solid rgb(0, 0, 60);
}

#cell3, #cell6, #cell1, #cell2, #cell4, #cell5 {
    border-bottom: 1px solid rgb(0, 0, 60);
}